<h1> BGDocto </h1>

<nav> 
    <li>
        <ul>
            Inscription
        </ul>
        <ul>
            Connexion
        </ul>
    </li>
</nav>

<fieldset>
<legend> Connexion </legend>
    <table>
      <tr><td>  Login  </td>  <td>  <input [(ngModel)]="login" ></td></tr>
      <tr><td>  Mot de passe  </td>  <td>  <input [(ngModel)]="password"></td></tr>
    </table>
  </fieldset>

<button>
  <div class="btn-group btn-group-lg float-right">
    <a class="btn btn-success" (click)="auth()">Au secourrrrrrrrrs<i class="bi bi-check-square-fill"></i></a>
</div>
</button>