<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>hopital-front</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>PatientControler</display-name>
    <servlet-name>PatientControler</servlet-name>
    <servlet-class>controler.PatientControler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientControler</servlet-name>
    <url-pattern>/PatientControler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>demo</display-name>
    <servlet-name>demo</servlet-name>
    <servlet-class>controler.demo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>demo</servlet-name>
    <url-pattern>/demo</url-pattern>
  </servlet-mapping>
</web-app>