<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title layout:title-pattern="$CONTENT_TITLE"></title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/bootstrap-icons.css}">
</head>
<body>
	<header>
		<ul class="nav nav-pills m-5">
			<li class="nav-item"><a class="nav-link" th:href="@{/}">Accueil</a></li>
			<li class="nav-item"><a class="nav-link" th:href="@{/baguette}">Baguettes</a></li>
			<li class="nav-item"><a class="nav-link" th:href="@{/competence}">Compétences</a></li>
			<li class="nav-item"><a class="nav-link" th:href="@{/maison}">Maisons</a></li>
			<li class="nav-item"><a class="nav-link" th:href="@{/sorcier}">Sorciers</a></li>
			<li class="nav-item"><a class="nav-link" th:href="@{/sort}">Sorts</a></li>
		</ul>
	</header>
	<div class="container-fluid">
		<section layout:fragment="monContenu"></section>
	</div>
	
	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>